@model SI642_BonoCorporativo.Models.Transaction
@using SI642_BonoCorporativo.Controllers;

@{
    ViewBag.Title = "Create";
}


<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="bar-chart"></i></div>
                <span>Calcular Bono Corporativo</span>
            </h1>
            <div class="page-header-subtitle">Aquí puede calcular la TCEA del Emisor y la TREA del Bonista</div>
        </div>
    </div>
</div>
<div class="container-fluid mt-n10">
    <div class="card mb-4">
        <div class="card-header">Bono Corporativo</div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    <div class="col-sm-4 mb-2">
                        @Html.LabelFor(model => model.FaceValue, htmlAttributes: new { @class = "control-label col-md-5", @style = "font-weight: bold;color:black;" })
                        @Html.EditorFor(model => model.FaceValue, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-solid" , @style = "color:black;" } })
                        @Html.ValidationMessageFor(model => model.FaceValue, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-4 mb-2">
                        @Html.LabelFor(model => model.CommercialValue, htmlAttributes: new { @class = "control-label col-md-5", @style = "font-weight: bold;color:black;" })
                        @Html.EditorFor(model => model.CommercialValue, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-solid", @style = "color:black;" } })
                        @Html.ValidationMessageFor(model => model.CommercialValue, "", new { @class = "text-danger" })

                    </div>

                    <div class="col-sm-3 mb-2">
                        @Html.LabelFor(model => model.CoinType_Id, "Tipo de Moneda", htmlAttributes: new { @class = "control-label col-md-7", @style = "font-weight: bold;color:black;" })
                        @Html.DropDownList("CoinType_Id", null, htmlAttributes: new { @class = "form-control form-control-solid", @style = "color:black;" })
                        @Html.ValidationMessageFor(model => model.CoinType_Id, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-5 mb-2">
                        @Html.LabelFor(model => model.DateIssue, htmlAttributes: new { @class = "control-label col-md-5", @style = "font-weight: bold;color:black;" })
                        @Html.EditorFor(model => model.DateIssue, new { htmlAttributes = new { @class = "form-control form-control-solid", @type = "date", @style = "color:black;" } })
                        @Html.ValidationMessageFor(model => model.DateIssue, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 mb-2">
                        @Html.LabelFor(model => model.Years, htmlAttributes: new { @class = "control-label col-md-5", @style = "font-weight: bold;color:black;" })
                        @Html.EditorFor(model => model.Years, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-solid", @style = "color:black;" } })
                        @Html.ValidationMessageFor(model => model.Years, "", new { @class = "text-danger" })

                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-md-5 mb-2">
                        @Html.LabelFor(model => model.PaymentFrequency_Id, "Frecuencia de pago", htmlAttributes: new { @class = "control-label col-md-5", @style = "font-weight: bold;color:black;" })
                        @Html.DropDownList("PaymentFrequency_Id", null, htmlAttributes: new { @class = "form-control form-control-solid", @style = "color:black;" })
                        @Html.ValidationMessageFor(model => model.PaymentFrequency_Id, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 mb-2">
                        @Html.LabelFor(model => model.Method_Id, "Método", htmlAttributes: new { @class = "control-label col-md-5", @style = "font-weight: bold;color:black;" })
                        @Html.DropDownList("Method_Id", null, htmlAttributes: new { @class = "form-control form-control-solid", @style = "color:black;" })
                        @Html.ValidationMessageFor(model => model.Method_Id, "", new { @class = "text-danger" })

                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-md-5 mb-2">
                        @Html.LabelFor(model => model.RateType_Id, "Tipo de Tasa", htmlAttributes: new { @class = "control-label col-md-5", @style = "font-weight: bold; color:black;" })
                        @Html.DropDownList("RateType_Id", null, htmlAttributes: new { @class = "form-control form-control-solid", @style = "color:black;" })
                        @Html.ValidationMessageFor(model => model.RateType_Id, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3 mb-2">
                        @*@Html.LabelF(model => model.InterestRate, "", htmlAttributes: new { @class = "control-label col-md-5", @style = "font-weight: bold; color:black;" })*@
                        <label style="font-weight: bold; color:black;">&nbsp;&nbsp;&nbsp;% Tasa de Interes</label>
                        @Html.EditorFor(model => model.InterestRate, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-solid", @style = "color:black;" } })
                        @Html.ValidationMessageFor(model => model.InterestRate, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-3 mb-2">
                        <label style="font-weight: bold; color:black;">&nbsp;&nbsp;&nbsp;% COK</label>
                        @Html.EditorFor(model => model.cok, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-solid", @style = "color:black;" } })

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2 mb-2">
                        <label style="font-weight: bold; color:black;">&nbsp;&nbsp;&nbsp;% Prima</label>
                        @Html.EditorFor(model => model.prima, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-solid", @style = "color:black;" } })

                    </div>
                    <div class="col-md-2 mb-2">
                        <label style="font-weight: bold; color:black;">&nbsp;&nbsp;&nbsp;% Colocación</label>
                        @Html.EditorFor(model => model.colocacion, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-solid", @style = "color:black;" } })


                    </div>
                    <div class="col-md-2 mb-2">
                        <label style="font-weight: bold; color:black;">&nbsp;&nbsp;&nbsp;% Flotación</label>
                        @Html.EditorFor(model => model.flotacion, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-solid", @style = "color:black;" } })

                    </div>
                    <div class="col-md-2 mb-2">
                        <label style="font-weight: bold; color:black;">&nbsp;&nbsp;&nbsp;% CAVALI</label>
                        @Html.EditorFor(model => model.cavali, new { htmlAttributes = new { @type="number", @class = "form-control form-control-solid", @style = "color:black;" } })

                    </div>
                    <div class="col-md-3 mb-2">
                        <label style="font-weight: bold; color:black;">&nbsp;&nbsp;&nbsp;% Estructuración</label>
                        @Html.EditorFor(model => model.estructuracion, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-solid", @style = "color:black;" } })

                    </div>
                </div>

                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Calcular" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
