@model SI642_BonoCorporativo.Models.Transaction

@using SI642_BonoCorporativo.Models;

@{
    SI642Entities db = new SI642Entities();
    CoinType coinType = db.CoinType.Where(s => s.Id == Model.CoinType_Id).FirstOrDefault<CoinType>();
    Method method = db.Method.Where(s => s.Id == Model.Method_Id).FirstOrDefault<Method>();
    RateType rateType = db.RateType.Where(s => s.Id == Model.RateType_Id).FirstOrDefault<RateType>();
    PaymentFrequency paymentFrequency = db.PaymentFrequency.Where(s => s.Id == Model.PaymentFrequency_Id).FirstOrDefault<PaymentFrequency>();
}


<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="bar-chart"></i></div>
                <span>Resultado del Bono Corporativo</span>
            </h1>
            <div class="page-header-subtitle">Aquí puede visualizar los resultados para la TCEA del Emisor y la TREA del Bonista</div>
        </div>
    </div>
</div>



<div class="container-fluid mt-n10">
    <div class="row">
        <div class="col-lg-4 col-xl-3 mb-4">

            <div class="card mb-4">
                <div class="card-header">Datos del Bono</div>
                <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action border-top" title="Valor Nominal"><i class="fas fa-coins fa-fw text-yellow mr-2"></i>@coinType.Name @Model.FaceValue</a>
                    <a class="list-group-item list-group-item-action" title="N° de Años"><i class="fas fa-clock fa-fw text-primary mr-2"></i>@Model.Years años</a>
                    <a class="list-group-item list-group-item-action" title="Frecuencia de pago"><i class="fas fa-calendar-day fa-fw text-green mr-2"></i>@paymentFrequency.Name</a>
                    <a class="list-group-item list-group-item-action" title="Método"><i class="fas fa-globe-americas fa-fw text-primary mr-2"></i>@method.Name</a>
                    <a class="list-group-item list-group-item-action" title="Tipo de Tasa"><i class="fas fa-percentage fa-fw text-pink mr-2"></i>@rateType.Name</a>
                    <a class="list-group-item list-group-item-action" title="Tasa de Interés"><i class="fas fa-percentage fa-fw text-pink mr-2"></i>@Model.InterestRate %</a>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xl-9 mb-4">
            <div class="card mb-4">
                <div class="card-header">Resultado</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-pink h-100">

                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <div class="small font-weight-bold text-pink mb-1">TREA Bonista</div>
                                            <div class="h5"> @Model.TREAInvestor.ToString("N5") % </div>
                                        </div>
                                        <div class="ml-2"><i class="fas fa-percentage fa-2x text-gray-400"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-pink  h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <div class="small font-weight-bold text-pink mb-1">TCEA Emisor</div>
                                            <div class="h5">@Model.TCEAIssuer.ToString("N5") %</div>
                                        </div>
                                        <div class="ml-2"><i class="fas fa-percentage fa-2x text-gray-400"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-pink  h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <div class="small font-weight-bold text-pink mb-1">TCEA Emisor Escudo</div>
                                            <div class="h5">@ViewBag.TceaEscudo.ToString("N5") %</div>
                                        </div>
                                        <div class="ml-2"><i class="fas fa-percentage fa-2x text-gray-400"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-pink  h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <div class="small font-weight-bold text-pink mb-1">Precio Actual</div>
                                            <div class="h5">@coinType.Name @ViewBag.precio.ToString("N2")</div>
                                        </div>
                                        <div class="ml-2"><i class="fas fa-dollar-sign fa-2x text-gray-400"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-pink  h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <div class="small font-weight-bold text-pink mb-1">Utilidad</div>
                                            <div class="h5">@coinType.Name @ViewBag.utilidad.ToString("N2")</div>
                                        </div>
                                        <div class="ml-2"><i class="fas fa-dollar-sign fa-2x text-gray-400"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            
        </div>
    </div>

<p>
    &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Realizar Otro Calculo", "Bono_Corporative", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<br />
