@model IEnumerable<SI642_BonoCorporativo.Models.Transaction>

@{
    ViewBag.Title = "Index";
}



<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="filter"></i></div>
                <span>Mis Operaciones</span>
            </h1>
            <div class="page-header-subtitle">Aquí puede visualizar todas sus operaciones para el control de las mismas.</div>
        </div>
    </div>
    
</div>
<body>
    <div class="container-fluid mt-n10">
        <div class="card mb-4">
            <div class="card-header">Bonos Corporativos</div>
            <div class="card-body">
                <div class="datatable table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th></th>*@
                                <th>
                                    Valor Nominal
                                </th>
                                <th>
                                    Tipo de Moneda
                                </th>
                                <th>
                                    Fecha de Emisión
                                </th>
                                <th>
                                    Nº de Años
                                </th>
                                <th>
                                    Frecuencia de pago
                                </th>
                                <th>
                                    Método
                                </th>
                                <th>
                                    Tipo de Tasa
                                </th>
                                <th>
                                    Tasa de Interés ( % )
                                </th>
                                <th>
                                    TCEA Emisor
                                </th>
                                <th>
                                    TREA Bonista
                                </th>


                            </tr>
                        </thead>
                        <tbody style="color:black;">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>
                                            <a href="@Url.Action("Details_Operation","Transactions",new { id = item.Id })" title="Información Detallada" class="btn btn-circle btn-sm btn-primary"><i class="fas fa-info"></i></a>
                                        </td>*@
                                    <td>
                                        @Math.Round(item.FaceValue, 2)
                                    </td>
                                    <td>
                                        @item.CoinType.Name
                                    </td>
                                    <td>
                                        @item.DateIssue.ToString("dd MMMM yyyy")
                                    </td>
                                    <td>
                                        @item.Years
                                    </td>
                                    <td>
                                        @item.PaymentFrequency.Name
                                    </td>
                                    <td>
                                        @item.Method.Name
                                    </td>
                                    <td>
                                        @item.RateType.Name
                                    </td>
                                    <td>
                                        @Math.Round(item.InterestRate, 5)
                                    </td>
                                    <td>
                                        @Math.Round(item.TCEAIssuer, 2)
                                    </td>
                                    <td>
                                        @Math.Round(item.TREAInvestor, 2)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>